<div class="container py-5 d-flex justify-content-center align-items-center min-vh-100">

   <div class="card plano-card border-0">
    <div class="card-body text-center">

        <app-card-badge
          [badge]="descricaoBadge()">
        </app-card-badge>

        <h5 class="card-title">{{ titulo() }}</h5>

        <p class="descricao">{{ descricao() }}</p>

        <h2 class="preco">
            {{ preco() }}<span class="fs-6">/mês</span>
        </h2>

        <app-card-button
        [Button]="descricaoButton()">
        </app-card-button>

    </div>
</div>

</div>
