<div class="container py-5">

  <div class="search-wrapper">

    <div class="input-group search-box">

      <span class="input-group-text search-icon">
        <i class="bi bi-search"></i>
      </span>

      <input
        type="text"
        class="form-control search-input"
        placeholder="Pesquisar produtos..."
        [(ngModel)]="searchTerm"
        (keyup.enter)="pesquisar()"
      >

      <span class="input-group-text search-shortcut">
        <kbd>Ctrl</kbd>
        <kbd>K</kbd>
      </span>

      <button
        class="btn btn-primary search-button"
        type="button"
        (click)="pesquisar()"
      >
        Buscar
        <i class="bi bi-arrow-right"></i>
      </button>

    </div>

  </div>

</div>
